body{
        background-color: papayawhip;
        font-family: 'Courier Prime', monospace;
        font-size: 16px;
        margin: 0;
    }

    @font-face {
        font-family: 'Solide Mirage Etroit';
        src:    url('./assets/solide-mirage/fonts/webfonts/Etroit/Solide_Mirage-Etroit_web.woff') format('woff'),
                url('./assets/solide-mirage/fonts/webfonts/Etroit/Solide_Mirage-Etroit_web.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: 'Solide Mirage';
        src:    url('./assets/solide-mirage/fonts/webfonts/Mono/Solide_Mirage-Mono_web.woff') format('woff'),
                url('./assets/solide-mirage/fonts/webfonts/Mono/Solide_Mirage-Mono_web.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Compagnon Master Italic';
        src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Italic.woff') format('woff'),
                url('./assets/compagnon-master/fonts/webfonts/Compagnon-Italic.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Compagnon Master Light';
        src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Light.woff') format('woff'),
                url('./assets/compagnon-master/fonts/webfonts/Compagnon-Light.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Compagnon Master Medium';
        src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Medium.woff') format('woff'),
                url('./assets/compagnon-master/fonts/webfonts/Compagnon-Medium.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Compagnon Master Bold';
        src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Bold.woff') format('woff'),
                url('./assets/compagnon-master/fonts/webfonts/Compagnon-Bold.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Compagnon Master Roman';
        src:    url('./assets/compagnon-master/fonts/webfonts/Compagnon-Roman.woff') format('woff'),
                url('./assets/compagnon-master/fonts/webfonts/Compagnon-Roman.woff2') format('woff2');
        font-weight: normal;
        font-style: normal;
    }

    .wrapper{
        height: 90%;
        display: flex;
        flex-direction: column;
        margin: 1;
    }

    .row-1{
        display: flex;
        justify-content: space-between;
        padding: 15px;
        font-size: 18px;
        font-family: 'Solide Mirage';
    }

    /*
    .row-2--face{
        position: relative;
        height: 75%;
        width: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        /*opacity: 0%;}*/

    .row-2--content:hover .row-2--face{
        opacity: 1;
        transform: translateX(-50%) translateY(-52%);
        transition: opacity .5s ease, transform .5s ease;
    }*/

    .row-2{
        /*margin: 1;
        display: flex;
        flex-direction: row;
        
        justify-content: space-between;
        flex-direction: row;*/
        display: flex;
        gap: 16px;
        margin: 48px auto;
        width: 100vw;

    }

    .column-1{
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 25%;
        height: 90%;
        overflow: auto;
        flex: 2 1;
    }

    .column-1--title{
        display: flex;
        font-size: 50px;
        text-transform: uppercase;
        line-height: 100%;
        margin: 0;
        font-family: 'Solide Mirage';

    }

    .column-1--text-title{
        font-size: 20px;
        font-family: 'Compagnon Master Bold'
    }

    a{
        color: black;
    }

    a:hover{
        color: black;
        font-weight: bold;
    }

    a:active{
        color: black;
        font-weight: bold;
    }

    .column-2{
        background-color:black;
        color: papayawhip;
        margin: 5px;
        border-radius: 25px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 72%;
        height: 90%;
        right: 0;
        overflow: auto;
        flex: 1 1;

    }

    .column-2--background{
        padding-top: 2px;     
        width: 100%;
        height: inherit;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

     .column-2--img{
        border-radius: 25px;
        display: flex;
        position: relative;
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .column-2--content{
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        font-size: 18px;
        line-height: 25px;
    }

    .celine{
        display: flex;
        flex-direction: row;
        padding: 15px;
  
    }

    .celine-content{
        width: 75%;
    }

    .celine-img{
        width: 25%;
        float: right;
        margin-right: auto;
    }

    .celine-img img{
        border-radius: 25px;
        width: 90%; 
        height: 100%; 
        object-fit: cover;
        float: right;
        margin-right: auto;
    }

    .name-1{
        /*opacity: 0%;*/
        font-size: 25px;
        font-family: 'Solide Mirage Etroit';
        letter-spacing: 5px;
    }

    .column-2:hover .name-1{
        /*opacity: 100%;*/
        transition: all .5s ease-in-out;
    }

    
      .line-1{
        /*opacity: 0%;*/
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        border: 10px;
        transition: ease-in-out, 0.5s;
      }
    
      .line-1:hover{
        /*opacity: 100%;*/
        transition: ease-in-out, 0.5s;
      }
    
      .line-2{
        /*opacity: 0%;*/
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        border: 10px;
        transition: opacity .5s ease, font-size 2s ease;
      }
    
      .line-2:hover{
        /*opacity: 100%;*/
        transition: ease, 0.5s;
      }
    
    /*.line-2:hover .pressure{
        font-size: 75px;
        transition: ease, 2s;
    }*/
    
      .line-3{
        /*opacity: 0%;*/
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        border: 10px;
        transition: ease-in-out, 0.5s;
      }
    
      .line-3:hover{
      /*opacity: 100%;*/
      transition: ease, 0.5s;
      }
    
      .line-4{
        /*opacity: 0%;*/
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 15px;
        border: 10px;
        transition: ease-in-out, 0.5s;
      }
    
      .line-4:hover{
      /*opacity: 100%;*/
      transition: ease, 0.5s;
      }
    
      .line-5{
        text-align: center;
        /*opacity: 0%;*/
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        border: 10px;
        transition: ease-in-out, 0.5s;
      }
    
      .line-5:hover{
      /*opacity: 100%;*/
      transition: ease, 0.5s;
      }
    
      sub {
        font-size: 20px;
      }
    
      sup {
        font-size: 20px;
      }
    
      .sh {
        /*opacity: 0%;*/
        transition: all 1.5s ease-in-out;
      }
    
      .line-5:hover .sh{
          /*opacity: 100%;*/
        }
    
      .sh-2 {
        /*opacity: 0%;*/
        transition: all 0.5s ease-in-out;
        }
    
      .line-5:hover .sh-2{
          /*opacity: 100%;*/
        }
    
      .sh-3 {
        /*opacity: 0%;*/
        transition: all 2.5s ease-in-out;
        }
    
      .line-5:hover .sh-3{
          /*opacity: 100%;*/
        }
    

    .column-2:hover .line-5{
        /*opacity: 100%;*/
        transition: 2.5s ease-in-out;

    }

    .jesse{
        display: flex;
        flex-direction: row;
        float: right;
        text-align: right;
        margin-right: auto;
        padding: 15px;
    }

    .jesse-content{
        width: 75%;
    }

    .jesse-img{
        width: 25%;
    }

    .jesse-img img{
        border-radius: 25px;
        width: 90%; 
        height: 100%; 
        object-fit: cover;
        object-position: 94%;
    }
    

    /*.empty{
        margin: 225px;
    }*/

    .name-2{
        margin: 5px;
        display: flex;
        text-align: right;
        font-size: 25px;
        font-family: 'Solide Mirage Etroit';
        letter-spacing: 5px;
    }


    /*.line-6{
        background-color:papayawhip;
        color: black;
        margin: 5px;
        text-align: right;
        border-radius: 25px;
        padding: 10px;
        display: flex;
        width: 45%;
        height: auto;
    }*/



    .celine-2{
        display: flex;
        flex-direction: row;
        padding: 15px;
  
    }

    .celine-2--content{
        width: 75%;
    }

    .celine-2-img{
        width: 25%;
        float: right;
        margin-right: auto;
    }

    .celine-2-img img{
        border-radius: 25px;
        width: 90%; 
        height: 100%; 
        object-fit: cover;
        float: right;
        margin-right: auto;
        object-position: 38%;
    }
    .name-3{
        font-size: 25px;
        font-family: 'Solide Mirage Etroit';
        letter-spacing: 5px;
      }
    
      .line-11{
        /*opacity: 0%;*/
        transition: ease-in-out, 2s;
      }
    
      .line-11:hover{
        /*opacity: 100%;*/
        transition: ease-in-out, 2s;
      }
    
      .line-12{
        /*opacity: 0%;*/
        transition: opacity 2s ease, font-size 2s ease;
      }
    
      .line-12:hover{
        /*opacity: 100%;*/
        transition: ease-in-out, 2s;
      }
    
      .line-13{
        text-align: center;
        /*opacity: 0%;*/
        transition: ease-in-out, 2s;
      }
    
      .line-13:hover{
      /*opacity: 100%;*/
      transition: ease, 2;
      }
    
      .line-14{
        /*opacity: 0%;*/
        transition: ease-in-out, 2s;
      }
    
      .line-14:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-15{
      /*opacity: 0%;*/
      transition: ease-in-out, 2s;
      }
    
      .line-15:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-16{
        /*opacity: 0%;*/
        transition: ease-in-out, 2s;
      }
    
      .line-16:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-17{
      /*opacity: 0%;*/
      transition: ease-in-out, 2s;
      }
    
      .line-17:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
    
      .line-18{
        /*opacity: 0%;*/

        transition: ease-in-out, 2s;
      }
    
      .line-18:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-19{
      /*opacity: 0%;*/
      transition: ease-in-out, 2s;
      }
    
      .line-19:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-20{
      /*opacity: 0%;*/
      transition: ease-in-out, 2s;
      }
      
      .line-20:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-21{
      /*opacity: 0%;*/

      transition: ease-in-out, 2s;
      }
      
      .line-21:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }
    
      .line-22{
      /*opacity: 0%;*/
      transition: ease-in-out, 2s;
      }
    
      .line-22:hover{
      /*opacity: 100%;*/
      transition: ease, 2s;
      }



    .button {
        margin: 20px;
        padding: 30px;
        border-radius: 50%;
        background-color: papayawhip;
        font-family: 'Solide Mirage Etroit';
        color: black;
        font-size: 18px;
        text-align: center;
        display: flex;
        align-items: center; 
        justify-content: center;
        /*transition: all 100ms;*/
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 20px;
        right: 10px;
        animation-name: rotate;
        animation-duration: 15s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    
      @keyframes rotate{
        from{ transform: rotate(-360deg); }
        to{ transform: rotate(360deg); }
    }